* {
  box-sizing: border-box;
}
body {
    background-image: linear-gradient(90deg, rgba(245, 200, 0, 0.514),rgba(253, 125, 5, 0.849));
}
iframe {
    margin: 2px;
    padding: 2px;
    width: 400px;
    height: 200px;
}
.container {
    display: grid;
    grid-template-columns: repeat(2,33%);
    grid-template-rows: repeat(auto,25%);
}
.cell1 {
    margin: 2px;
    padding: 4px;
    grid-area: 1/1/2/3;
}
.cell5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 4px;
    grid-area: 1/3/2/4;
}
.cell2 {
    margin: 2px;
    padding: 4px;
    grid-area: 2/1/3/2;
}
.cell3 {
    grid-area: 2/2/3/3;
}
.cell4{
    margin: 2px;
    padding: 4px;
    grid-area: 2/3/3/4;
}
.cell6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 4px;
    grid-area: 3/1/4/4;
}
.cell7 {
    margin: 2px;
    padding: 4px;
    grid-area: 4/1/5/2;
}
.cell8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 4px;
    grid-area: 4/3/5/4;
}
.cell9{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 4/2/5/3;
}
.time-selector,
.sound-picker,
.player-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.player-container {
    position: relative;
    height: 300px;
  }
  .player-container svg {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
  }
  
  .player-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -10;
    height: 100%;
    width: 100%;
    z-index: -10;
    object-fit: fill;
  }
  .play {
      position: absolute;
      top: 34%;
      cursor: pointer;
    }
    .replay {
        position: absolute;
        bottom: 10%;
        cursor: pointer;
    }
  .time-display {
    position: absolute;
    color: white;
    top: 10%;
    font-size: 35px;
  }
  .time-selector {
    margin: 10px;
  }
.time-selector button,
.sound-picker button {
  color: white;
  margin: 2px;
  width: 120px;
  height: 70px;
  background: rgba(32, 26, 20, 0.315);
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.5s ease;
}
.time-selector button:hover {
  color: black;
  background: wheat;
}
.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  padding: 1px;
  margin: 5px;
  border-radius: 50%;
}
.sound-picker button:nth-child(1) {
  background: rgb(163, 154, 154);
}
.sound-picker button:nth-child(2) {
  background: rgba(255, 99, 71, 0.664);
}
.sound-picker button img {
    height: 50%;
  }
.sound-picker button:hover {
  background: rgba(235, 103, 154, 0.801);
}

@media screen and (max-width:1024px) {
    * {
        margin: 0;
        padding: 0;
      box-sizing: border-box;
    }
    iframe {
        width: 350px;
        height: 175px;
    }
    .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto,100px);
    }
    .cell1 {
        grid-area: 1/1/2/2;
    }
    .cell2 {
        grid-area: 2/1/3/2;
    }
    .cell3 {
        grid-area: 3/1/5/2;
    }
    .cell4{
        grid-area: 5/1/6/2;
    }
    .cell5 {
        grid-area: 6/1/7/2;
    }
    .cell6 {
        grid-area: 7/1/8/2;
    }
    .cell7 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: 8/1/9/2;
    }
    .cell7 h2 {
        margin-left: -50px;
    }
    .cell8 {
        grid-area: 9/1/10/2;
    }
    .cell9 {
        display: none;
    }
.time-selector,
.sound-picker{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
}
